.root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}


.backgroundImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.ProgressBar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 2%;
    margin-top: 40%;
    margin-left: 15%;
    /* background-color: rgb(72, 50, 82); */
    background-color: white;
    border-radius: 25px;
}

  
.dot {
    display: block;
    width: 30px;
    height: 200%;
    border-radius: 25px;
    background-color: rgb(72, 50, 82);

}
  
